

h1{
    color: rgb(57, 61, 80);
    text-align: center;
    
}

text{
    color: rgb(7, 14, 54);
}

label{
	    text-align: center;
	
}
input, select {
    padding: 12px 20px;
    width: 40%;
    text-align: center;
    margin: 8px 0;
    color: rgb(119, 119, 141);
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  
  .form-group{
    text-align: center;
}

span{
    color: rgb(207, 25, 25);
}

input[type=submit],a {
    width: 20% ;
    background-color: rgb(113, 115, 119);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  input[type=submit]:hover, a:hover {
    background-color: #8992ac;
    color: white;

  }
  
  a{
      text-align: center;
      text-decoration: none;
      width: 30% ;
      
  
  }